<h2>Select Form</h2>
<form novalidate [formGroup]="selectForm">
  <md-card>
    <md-card-title>Form Select</md-card-title>
    <md-card-content>
      <div formArrayName="results">
        
        <div *ngFor="let result of results.controls; let i=index" [formGroupName]="i">
          <label class="radio-inline">Choose the result of match №{{i+1}}:</label>

          <label class="radio-inline" for="win{{i}}">
            <input type="radio" id="win{{i}}" class="form-control" value="winning" formControlName="result" [checked]>
            Winning
          </label>          

          <label class="radio-inline" for="draw{{i}}">
            <input type="radio" id="draw{{i}}" class="form-control" value="drawing" formControlName="result">
            Drawing
          </label>
          
          <label class="radio-inline" for="loss{{i}}">
            <input type="radio" id="loss{{i}}" class="form-control" value="losing" formControlName="result">
            Losing
          </label>
          
        </div>
      <button md-raised-button color="accent" (click)="add()">Add match</button>

      </div>
      
    </md-card-content>
    {{ selectForm.value | json }}
  </md-card>
</form> 
