.team-logo {
    display: inline-block;
    width: 33px;
    height: 33px;    
}

.team-name {
    padding-left: 30px;
}

.table>tbody>tr>td {
    line-height: 30px;
}

.label-danger {
    margin-left: 40px;
}