<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Form Select</h3>
  </div>
  <div class="panel-body">
    <form novalidate [formGroup]="selectForm" (ngSubmit)='onSubmit()'>
      <div formArrayName="results">
        <a class="btn btn-success" (click)="add()">
          Add
        </a>
        
        <div class="list-group" *ngFor="let result of results.controls; let i=index" [formGroupName]="i">
          <span class="list-group-item">Choose the result of match №{{i+1}}:
            <label class="radio-inline" for="win{{i}}">
              <input type="radio" id="win{{i}}" class="form-control" value="winning" formControlName="result">
              W
            </label>          

            <label class="radio-inline" for="draw{{i}}">
              <input type="radio" id="draw{{i}}" class="form-control" value="drawing" formControlName="result">
              D
            </label>
            
            <label class="radio-inline" for="loss{{i}}">
              <input type="radio" id="loss{{i}}" class="form-control" value="losing" formControlName="result">
              L
            </label>          
          </span>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Send Data</button>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Form Request</h3>
  </div>
  <div class="panel-body">
    <pre>{{ selectForm.value | json }}</pre>
  </div>
</div> 
